*.xxx
target/
OhtuVarasto/target/
Ohtu-NhlStatistics1/target/
Verkkokauppa1/target/
KumpulaBiershop/target/
LoginEasyBv1/target/
LyyrakorttiMockito/target/
MockitoDemo/target/
LoginWeb2/target/
TyhjaProjekti/target/
IntJoukkoSovellus/target/
KumpulaBiershop1/target/
Laskin/target/
QueryLanguage1/target/
Tennis/target/